:local .login-form {
    height: 100%;

    .form {
        width: 400px;
    }

    .login-bx {
        flex: 0 0 400px;
        background: #fff;

        .info-area {
            opacity: 0.5
        }

        .content {
            margin: 15px;
        }

        .button {
            width: 100px;
            flex-shrink: 0;
            margin-right: 28px;
            border-width: 2px;
            font-family: 'Roboto';
            font-size: 14px;
            font-weight: 500;
            color: #fff;
            background: #00b6f1;
        }

        .img {
            width: 160px;
            height: 150px;
            text-align: center;
            //background: url('img/logo_CRM.png') no-repeat;
        }

        .error {
            color: red;
            margin-left: 20px
        }
    }
}

    :local  .logo {
        width: 400px; //165px;
        height: 200px; //150px;
        background-size: 400px 200px;
        z-index: 1000;
        background-image: url('img/logo.svg');
    }
