:local .login-form {
    height: 100%;

    .login-bx {
        border: 1px solid #00b6f1;
        flex: 0 0 400px;
        background: #fff;

        .info-area {
            opacity: 0.5
        }

        .content {
            margin: 15px;
        }

        .button {
            width: 100px;
            flex-shrink: 0;
            margin-right: 28px;
            border-width: 2px;
            font-family: 'Roboto';
            font-size: 14px;
            font-weight: 500;
            color: #fff;
            background: #00b6f1;
        }

        .gif {
            //background-image: url('img/loader_CRM.gif') !important;
        }

        .img {
            width: 160px;
            height: 150px;
            text-align: center;
            //background: url('img/logo_CRM.png') no-repeat;
        }

        .error {
            color: red;
            margin-left: 20px
        }
    }
}
