:local .books-header {
    border-bottom: 0.125rem solid #E0E0E0;
    padding: 1.5rem;
    display: flex;
    flex: 0 0 6.5rem;
    background: #fff;
}

:local .statistics-header-title {
    font-size: 2rem;
    padding: 4px 0;
}

:local .statistics-header-filters-left {
    margin-left: 1rem;
    flex: 1;
}

:local .statistics-header-filters-right {
    display: flex;
}

:local .statistics-header-datepicker {
    margin-left: 1rem;
    display: inline-block;
}