:local .button-radio {
    margin-right: 5px;
    height: 35px;
    line-height: 35px;
    border: 1px solid #e1e1e1;
    text-align: center;
    border-radius: 5px;
    font-size: 14px;
    color: #3d3d3d;
    background: #fff;
    cursor: pointer;

    &:hover {
        border: 1px solid #00b6f1;
    }

    &.active {
        border: 1px solid #00b6f1;
        background: #00b6f1;
        color: #fff;
    }
}
