:local .message {
    margin-bottom: 1.375rem;
}

:local .message-unread {
    background: #eeeeff;
}

:local .message:last-of-type {
    margin-bottom: 0;
}

:local .message-author {
    font-width: 600;
}

:local .message-date {
    color: #888;
    font-weight: 300;
}

:local .message-content {
    font-weight: 300;
    margin-top: .25rem;
    img, video {
        max-height: 200;
    }
}