@import "~emojione-picker/css/picker.css";
@import "~draft-js-emoji-plugin/lib/plugin.css";
:local .text-editor {
  position: relative;
  line-height: 1em;
  resize: none;
  border: 0;
  font-size: 14px;
  overflow: auto;
  flex: 1;
  border-radius: 2px;
  .emoji-icon {
    top: 0;
    right: 0;
    z-index: 231313;
    position: absolute;
  }
  .editor {
    border-bottom: 1px solid #d0d0d0;
    padding-bottom: 3px;
    padding-top: 9px;
    overflow: auto;
    margin: 40spx 30px 40xpx 0;
    position: relative;
    border-bottom: 1px solid #d0d0d0;
    line-height: 1em;
    resize: none;
    outline: 0;
    width: 100%;
    background: #fff;
    font-size: 14px;
    flex: 1;
    border-radius: 2px;
    color: #000;
  }

  &:-moz-placeholder,
  &::-webkit-input-placeholder {
    color: #9A9A9A;
  }

  .emoji-icon {
    top: 0;
    right: 0;
    position: absolute;
  }
  .emoji-picker {
    position: fixed;
    right: 24;
    bottom: 80px;
    z-index: initial;
  }
}