@import "~react-bootstrap-table/css/react-bootstrap-table-all.min.css";
:local .people-content {
}

:local .people-content-header {
  display: flex;
  box-sizing: content-box;
  padding: 1rem;
}

:local .people-content-header-title {
  font-size: 2rem;
  padding: 0.7rem 0;
}

:local .people-content-header-actions {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}


  :local tbody {
    overflow: scroll;
  }