:local .sidebar-box {
  width: 0px;
  height: 100%;
  left: 0px;
  top: 0;
  z-index: 100;
  position: relative;
  background: white;
  transition: width 0.5s;
  .content {
    .nav-but {
      margin-top: 20px;
      flex: 1 auto;
      flex-direction: column;
      justify-content: space-between;
      .icon {
        margin-top: 10px;
      }
    }
  }

  &.active {
    width: 100px;
  }
}

.nav-child {
   padding-left: 55px;
}


