
:local .navigation-top {
        z-index: 1;
        margin-bottom: 0px;
        .nav-head {
                border-radius: 0;
        }
}

:local .toggle-sidebar {
    float: left;
    margin-left: 15px;
    margin-right: 0px;
}

  :local .boo-logo {
    width: 100px; //165px;
    height: 50px; //150px;
    background-size: 100px 50px;
    margin-left: 2px;
    background-image: url('img/logo.svg');
  }

@media (min-width: 768px) {
    :local .toggle-sidebar  {
        display: block;
        margin-left: 0px;
        margin-right: 15px;
    }
}

:local .expand-menu {
    color: #fff;
}

.navtop-child {
        background: transparent;
}

