:local .people-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

:local .people-content-header {
    display: flex;
    box-sizing: content-box;
    padding: 1rem;
    border-bottom: 0.125rem solid #ddd;
}

:local .people-content-header-title {
    font-size: 2rem;
    padding: 0.7rem 0;
}

:local .people-content-header-actions {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

:local .people-content-data {
    padding: 1rem;
    table {
        margin-bottom: 0;
    }
}