:local .usercard-header {
  padding: 2rem;
  width: 100%;
  height: 160px;
  border-bottom: 0.125rem solid #E0E0E0;
  justify-content: space-between;
}

  :local .birthday {
    font-size: 10;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: bold;
  }

  :local .about {
    font-size: 10;
    max-width: 10000;
    line-height: 1;
    max-height: 35px;
    overflow: hidden;
    font-style: italic;
    white-space: pre-wrap;
  }

    :local .edit-profile {
      margin-left: 31px;
    }