:local .ticket-send-panel {
      position: relative;
      padding: 10px 0;
      min-height: 66px;
      background: #E0E0E0;

      .attach {
            margin: 0 10px;
      }

      .related-files {
            overflow-y: auto;
            .attach-file {
                  .delete-btn {
                        margin-bottom: auto;
                        margin-top: auto;
                        margin-outside: auto;
                        cursor: pointer;
                  }
            }
      }
      .send {
            margin: 0 5px;
      }
}
