@import '../../../css/mixins.scss';

:local .button-nav {
    @include button-normalize();

    //min-height: 64px !important;
    width: auto !important;
    color: #fff; //#404040;
    //background: #EAEBEF;
    margin: 0 15px;

    font: {
        size: 14px;
        family: Roboto Condensed;
    }

    

    /*
    &:hover, &.active {
        background: #f4f5cd;
    }

    &:hover {
        transition: 0.7s;
    }
    */
}
