:local .loader-component {
    height: 100%;

    .gif {
        width: 300px; //165px;
        height: 300px; //150px;
        background-size: 300px 300px;
        background-image: url('img/logo.svg');
    }
}
