/* TEXT */
$textColor: #3d3d3d;
$textIndent: 1;
$textSize: 14;

/* BUTTONS */
$buttonBackground: #EAEBEF;
$buttonBackgroundHover: #D7D8DE;
$buttonBackgroundActive: #1076AD;
$buttonTextColor: #494A4F;
$buttonTextSize: 15px;
$buttonFontWeight: 400;

/* FONT FAMILY */
$fontCond: 'Roboto Condensed';

//COLORS
$blueColor: #00b6f1;
$redColor: #f17e7e;


/* FONT FAMILY */
$fontCond: 'Roboto Condensed';


/* COLORS */
$grayColor: #eaebef;
$yellowColor: #fffcd3;
$blueColor: #1076ad;
$grayText: #a7a7a7;



