:local .ticket-header {
    border-bottom: 1px solid #E0E0E0;
    padding: 1rem;
    display: flex;
    height: 8rem;
}

:local .ticket-info {
    flex: 1;
}

:local .ticket-peer-channel {
    color: #888;
    margin-left: 1rem;
}

:local .actions {
    flex: 1;
    display: flex;
    margin-top: 1rem;
}

:local .ticket-status {
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

:local .ticket-state {
    font-size: 2rem;
}

:local .ticket-assigned {
    color: #888;
}