:local .layout {
    flex: 1 auto;
    width: 20px;
    background: #fff;

    display: flex;
    flex-direction: column;


    p { 
        color: #838383;
        margin: 5px 0;
    }
}

:local .header {
    flex: 0 0 3rem;
}

:local .messages {
    flex: 1;
}

:local .send-panel {
    flex: 0 0 5rem;
}
