:local .statistics-content {
  display: flex;
  flex: 1 0 0;
  flex-direction: column;
  overflow: hidden;
  .content {
    margin: 0 15px 0 10px;
    width: auto;
  }
  .plot-list {
    margin-top: 40px;
    flex: 1;
  }

  h5 {
    margin-top: 30px;
    font-size: 16px;
    color: #1F1F1F;
  }

  p {
    color: #838383;
    margin: 5px 0;
  }

  hr {
    border-top: 1px solid #E0E2E3;
    margin: 15px 0 20px;
  }


}
