:local .bookcard-reviews {
  width: 100%;
}

  :local .right-btn {
    display: flex;
    flex-direction: row-reverse;
  }

:local .title-panel {
  display: flex;
  justify-content: space-between;
  .title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    width: 75%;
    padding-top: 8px;
  }
}

.reviews-list {
  overflow: scroll;
  padding: 2rem;
  width: 80%;
}
  :local .panel {
    width: 98%;
  }

    :local .review-content {
      white-space: pre-wrap;
      font-size: small;
      max-height: 300px;
      overflow: scroll;
    }

  :local .rating {
    padding-bottom: 0px;
  }
    :local .review-name {
      display: flex;
      flex-direction: row;
      font-style: italic;
      font-weight: bold;
      justify-content: space-between;
    }
      :local .name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: normal;
        width: 75%;
      }